<h1>Bienvenue sur la Yolette, <%= "#{@user.nom} #{@user.prenom}" %></h1>
<p>
  Votre login est : <%= @user.email %>.<br/>
</p>
<p>
  Pour vous connecter au site, suivez ce lien: <%= @url %>.
</p>
<p>Merci d'avoir rejoins l'équipage, et bonne course!</p>