<h1>Bienvenue sur la Yolette, <%= "#{@user.nom} #{@user.prenom}" %></h1>
<p>
  Votre login est : <%= @user.email %>.<br/>
</p>
<p>
  Pour vous connecter au site, suivez ce <%= link_to "lien", signin_url %>.
</p>
<p>Merci de nous avoir rejoint, et bonne course!</p>