<% provide(:title, "#{@rameur.nom} #{@rameur.prenom}") %>

<% if notice %>
<div class="row">
	<div class="span8">
		<div id="notice">
			<p class="alert alert-success"><%= notice %></p>
		</div>
	</div>
</div>
<% end %>

<div class="row">
  <aside class="span4">
    <section>
			<h1>
				<%= gravatar_for @rameur %>
			  <%= @rameur.nom %>
			  <%= @rameur.prenom %>
			</h1>
    </section>
  </aside>
</div>
