<% provide(:title, "#{@rameur.nom} #{@rameur.prenom}") %>

<p id="notice"><%= notice %></p>

<div class="row">
  <aside class="span4">
    <section>
			<h1>
				<%= gravatar_for @rameur %>
			  <%= @rameur.nom %>
			  <%= @rameur.prenom %>
			</h1>
    </section>
  </aside>
</div>
