<% provide(:title, "#{@rameur.nom} #{@rameur.prenom}") %>

<div class="row">
  <aside class="span4">
    <section>
			<h1>
				<%= gravatar_for @rameur %>
			  <%= @rameur.nom %>
			  <%= @rameur.prenom %>
			</h1>
			<%= @rameur.email if correct_rameur? %>
    </section>
  </aside>
</div>
