<% provide(:title, 'Aide') %>

<h1>Foire aux Questions</h1>

<h3>A qui est réservé ce site ?</h3>
<p>
	Ce site est réservé aux adhérents de la base nautique de la Vilette, Paris 19ème.
</p>
</br>

<h3>Comment devenir adhérent à la base nautique de la Vilette ?</h3>
<p>
	Il faut se rendre sur place. Voici les coordonées :
	<address>
		<strong>Base Nautique de la Vilette</strong><br>
		41 bis, quai de la Loire<br>
		Paris, 75019<br>
		<abbr title="Téléphone">Fixe: </abbr>01 42 40 29 90
	</address>
</p>
</br>

<h3>Quel est l'objectif de ce site ?</h3>
<p>
	L'objectif de ce site est d'organiser les sorties en groupe pour les rameurs de la base nautique. Ces derniers peuvent proposer des sorties en double ou en yolette, à différentes dates et horaires de la journée. Les autres rameurs pourront s'y inscrire et former ainsi un équipage.
</p>
</br>

<h3>Est-ce que les réservations à partir du site font foi de réservations directes à la base nautique ?</h3>
<p>
	Non, les réservations doivent être confirmées par téléphone à la base nautique (01 42 40 29 90). Egalement, il n'y a aucune garantie de disponibilté des créneaux choisis.
</p>
</br>

<h3>Comment devenir membre du site ?</h3>
<p>
	Pour devenir membre du site, il suffit de s'inscrire <%= link_to "ici", new_rameur_url %>.
</p>
</br>

<h3>Comment télécharger ma photo sur  le site ?</h3>
<p>
	Pour avoir sa photo sur le site, il faut créer un compte sur <%= link_to "Gravatar",  'http://fr.gravatar.com' %> et associer une photo à votre adresse mail. Après cela, votre photo sera automatiquement disponible sur le site.
</p>
</br>

<h3>Comment saisir une réservation ?</h3>
<p>
	Après votre inscription au site, un menu <strong>Réservations</strong> apparaît en haut à droite. Appuyez dessus, vous verrez par la suite une liste de réservations. A la fin de cette liste, vous avez un bouton <button class="btn btn-small">Proposer</button>. En appuyant sur ce dernier, vous serez redirigé vers une page qui vous permettra de saisir une nouvelle réservation.
</p>
</br>

<h3>Comment participer à une sortie, ou en désister ?</h3>
<p>
	Après votre inscription au site, un menu <strong>Réservations</strong> apparaît en haut à droite. Appuyez dessus, vous verrez par la suite une liste de réservations. A côté de chaque réservation, un boutton <button class="btn btn-small">Participer</button> ou <button class="btn btn-small">Désister  </button> vous permet de participer à une sortie ou d'en désister.
</p>
</br>