<% provide(:title, 'Accueil') %>

<div class="center hero-unit">
<% if signed_in? %>
<% else %>
	<h1>La Yolette Parisenne</h1>

	<h2>
		Bienvenu sur le site de la Yolette Parisienne!
		Réservez, constituez votre équipage et partagez vos expériences.
	</h2>

	<%= link_to "Devenir membre" , signup_path, class: "btn btn-large btn-primary" %>
<% end %>
</div>
