<% provide(:title, 'Accueil') %>

<div class="center hero-unit">
	<h1>Sport Event</h1>

	<h2>
		Bienvenu sur le site des évènements sportifs!
		Réservez, constituez votre équipe et partagez vos expériences.
	</h2>

<% unless signed_in? %>
	<%= link_to "Devenir membre" , new_user_registration_path, class: "btn btn-large btn-primary" %>
<% end %>

</div>
