<% provide(:title, 'Accueil') %>

<% if notice %>
	<div class="row">
		<div class="span8">
			<div id="notice">
				<p class="alert alert-success"><%= notice %></p>
			</div>
		</div>
	</div>
<% end %>

<div class="center hero-unit">
	<h1>La Yolette Parisenne</h1>

	<h2>
		Bienvenu sur le site de la Yolette Parisienne!
		Réservez, constituez votre équipage et partagez vos expériences.
	</h2>

<% unless signed_in? %>
	<%= link_to "Devenir membre" , signup_path, class: "btn btn-large btn-primary" %>
<% end %>

</div>
