<% provide(:title, 'Réservations') %>

<h1>Liste des réservations</h1>

<p id="notice"><%= notice %></p>

<%= will_paginate %>

<div class="center hero-unit">
  <%= render 'table' %>
</div>

<br />

<%= will_paginate %>
