<% provide(:title, 'Réservations') %>

<h1>Liste des réservations</h1>

<% if notice %>
	<div class="row">
		<div class="span8">
			<div id="notice">
				<p class="alert alert-success"><%= notice %></p>
			</div>
		</div>
	</div>
<% end %>

<%= will_paginate_fr @reservations %>

<div class="center hero-unit">
  <%= render 'table' %>
</div>

<br />

<%= will_paginate_fr @reservations %>
