<% provide(:title, 'Réservations') %>

<% if @user %>
	<h1>Mes réservations</h1>
<% else %>
	<h1>Liste des réservations</h1>
<% end %>

<%= will_paginate_fr @reservations %>

<div class="center hero-unit">
  <%= render 'table' %>
</div>

<br />

<%= will_paginate_fr @reservations %>
