<% provide(:title, "Réservervation") %>

<h1>Réserver</h1>

<% if alert %>
<div class="row">
	<div class="span8">
		<div id="error_explanation">
			<p class="alert alert-error"><%= alert %></p>
		</div>
	</div>
</div>
<% end %>

<%= render 'form' %>

