<p>Bienvenu <%= @email %>!</p>

<p>Vous pouvez valider l'email de votre compte via le lien ci-dessous:</p>

<p><%= link_to 'Valider mon compte', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
