<p>Bonjour <%= @resource.email %>!</p>

<p>Nous avons reçu une demande de modification de votre mot de passe. Ceci vous sera possible en cliquant sur le lien ci-dessous.</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si vous n'êtes pas à l'origine de cette demande, vous pouvez ignorer cet email.</p>
<p>Votre mot de passe ne changera pas tant que vous n'en saisissez pas un nouveau à travers le lien ci-dessus.</p>
