<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "La Yolette Parisienne", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Accueil",      '#' %></li>
          <li><%= link_to "Aide",         '#' %></li>
          <li><%= link_to "S'identifier", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>